<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?php html_title_(); ?></title>

    <link href="<?php url_asset_('/bootstrap/css/bootstrap.min.css') ?>" rel="stylesheet">
    <link href="<?php url_asset_('/css/default.css') ?>" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="<?php url_asset_('/sbadmin/bower_components/fontawesome/css/font-awesome.min.css') ?>" rel="stylesheet" type="text/css">

    <?php html_header_('css'); ?>

</head>
<body>

    <?php echo $content; ?>

</body>
</html>