<html>
<body>
<p>Page loaded time: <?php echo date('H:i:s') ?></p>

		The application example.
        <p>Below some routes examples.</p>
        <br/>
		<p>To see your browser information: <a href="<?php url_to_('/browser')?>">click here</a></p>
        <p>Example route with params: <a href="<?php url_to_('/params/one/two')?>">click here</a></p>
        <p>Controller Example: <a href="<?php url_to_('/Examples/process')?>/one params">click here</a></p>
        <p>Direct route example: <a href="<?php url_to_('/direct/route')?>">click here</a></p>
        <p>Other direct route: <a href="<?php url_to_('/other/direct/route/others')?>">click here</a></p>
        <p>Catch Error example: <a href="<?php url_to_('/error')?>">click here</a></p>
        <p>Named params: <a href="<?php url_to_('/process/named/my_named_param')?>">click here</a></p>
        <p>Auto detect route with params: <a href="<?php url_to_('/try/detect/route/autodetect/param1/param2')?>">click here</a></p>
        <hr>
        <p><a href="<?php url_to_('/template')?>">This page using template file.</a></p>
        <p><a href="<?php url_to_('/')?>">This page not using template file.</a></p>
        <p><a href="<?php url_to_('/caching')?>">This page using caching.</a></p>
        <p><a href="<?php url_to_('/layout')?>">This page using layout.</a></p>
        <p><a href="<?php url_to_('/server')?>">Inspect $_SERVER var.</a></p>
</body>
</html>

