<?php
    html_title_('Instruction to reset password');
?>

<div class='content-fluid' >

    <div class="row" style='margin-top:50px'>

        <div class="col-xs-12" >
            <div class="">
                <p>Hi,</p>
                <p>This mail is to inform a request to reset your password.</p>
                <p>To change your password, <a href="<?php url_to_($url.$reset_token) ?>">please click here</a>.</p>
                <p>If you didn't requested to reset your password, <a href="<?php url_to_($url_base."not_requested/password_reset/".$reset_token) ?>">please let us know clicking here.</a></p>
            </div>
        </div>

    </div>
</div>