<?php
    html_title_('Your password was changed');
?>

<div class='content-fluid' >

    <div class="row" style='margin-top:50px'>

        <div class="col-xs-12" >
            <div class="">
                <p>Hi,</p>
                <p>This mail is to inform that your password was changed.</p>
                <p>If you didn't it, <a href="<?php url_to_($url_base."not_requested/password_change/$token") ?>">please let us know clicking here.</a></p>
            </div>
        </div>

    </div>
</div>

