<html>
<body>
		This is a example of application.
		<p>To see your browser information <a href="browser/">click here</a></p>
        <p>Example route with params <a href="params/one/two">click here</a></p>
        <p>Controller Example <a href="Examples/process/one params">click here</a></p>
        <p>Direct route example <a href="direct/route">click here</a></p>
        <p>Catch Error example <a href="error">click here</a></p>
        <p>Named params <a href="process/named/my_named_param">click here</a></p>
</body>
</html>

