<div>&nbsp;</div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="alert alert-danger content-area">
            <div class="row">
                <div class="col-xs-2"><i class="fa fa-frown-o fa-5x">&nbsp;</i></div>
                <div class="col-xs-1"></div>
                <div class="col-xs-9">
                    <p>In this moment our application does not avaliable.</p>
                    <p>Please, try again in few minutes.</p>
                </div>
                &nbsp;
            </div>
        </div>
    </div>
</div>