<!-- show modal helper -->
<div class="modal fade" id="_show_modal" tabindex="-1" role="dialog" aria-labelledby="_show_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="_show_modal_label"></h4>
            </div>

            <div class="modal-body">

            </div>
            <div class="">&nbsp;</div>
            <div class="modal-footer">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->